BODY{background-color:White}
BODY{text-Align:center; margin-left:20%; margin-right:30%;font-family:"Arial"} 
DIV {background-color: white; text-Align:center; font-family:Arial; color:lightblue; width: 800px;
 padding: 50px;
 margin: 40px;
 text-align: left;}    
 H1{text-Align:center; font-family:"Arial Black"; color:lightblue}
table {border-spacing: 10px;}
 th {text-align: center; color:lightblue}
