HTML{background-color:#4863A0
}
HEAD{background-color:#4863A0
}

BODY{
	background-color:white
}
BODY{text-Align:center; 
	margin-left:20%; 
	margin-right:20%;
	font-family:"Arial" 
	} 
	
H2 {background-color: white; 
	text-Align:center; 
	font-family:Arial;
    font-size:18;	
	color:#4863A0; 

	}
	 
   
 H1{
	text-Align:center; 
	margin-left:20%; 
	margin-right:20%;
	font-family:"Arial Black"; 
	color:#4863A0; }


