/*
* Declarations for different widths
*/
@media(max-width:768px){
	.content {
		margin-left:1%; 
		margin-right:1%;
	} 
}

@media(min-width:768px){
	.content {
		margin-left:5%; 
		margin-right:5%;
	} 
}

@media(min-width:1200px){
	.content {
		margin-left:15%; 
		margin-right:15%;
	} 
}

/*
* Regular css code for all resolutions
*/

body {
	background-color: #4863A0;
	color: #4863A0;
	font-family:"Arial";
}

.content {
	background-color: white;
	text-align:center; 
}
